<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<body>
<div class="all">
<div style="position:relative; left: 35%;">
<img *ngIf="provider === 'google'" src="../../../assets/images/google.png" style="width:50px; height:50px;">
<img *ngIf="provider === 'facebook'" src="../../../assets/images/facebook.png" style="width:50px; height:50px;"><br><br>
</div>
<h5>이메일 : {{returnAccount.Login.email}}</h5>
<h5>닉네임 : {{returnAccount.Login.nickname}}</h5>
<h5>학교 : {{returnAccount.Login.school}}</h5>
<h5>학번 : {{returnAccount.Login.studentid}}</h5>
  <button class="btn" (click)="mod = true;">Modify</button><br>
<div *ngIf="mod" class="modify">
    <form #f="ngForm" (ngSubmit) = "modify(f)">
     <h4> 닉네임 : <input name="nick" ngModel><br>
      학교 : <input name="school" ngModel><br>
      학번 : <input name="studentid" ngModel><br></h4>
      <button>적용</button>
    </form>
    <h5><button (click)="mod = false;" style="position: relative; left: 40%;">닫기</button></h5>
</div>

<div style="position:relative; left: 35%;"><a href="/logout"><img src="../../../assets/images/Logouticon.png" style="width: 60px; height: 50px;" (click)="logout()"></a></div>
</div>
</body>
