<link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">

<body>
  <div class="search">
    <form  #f="ngForm" (keyup) = "search(f)">
      검색 : <input name="search" ngModel>
      <li *ngFor="let result of searchList; let i = index" (click)="clickSearchedUser(i); clickname = true;
    cprofile = false; cfile = false; cschedule = false;">닉네임 : {{result.Login.nickname}}</li>
    </form>
  </div>
  <div *ngIf="clickname" class="detail">
    확인할 것 선택<br><br><br>
    <div style="position: relative; left: 30%;">
      <button (click)="checkProfile(); cprofile = true; clickname = false;" class="btn">Profile</button>
      <button (click)="checkRepository(); cfile = true; clickname = false;" class="btn">File</button>
      <button (click)="checkSchedule(); cschedule = true; clickname = false;" class="btn">Schedule</button>
      <button (click)="clickname=false;" class="btn">Back</button>
    </div>
  </div>
  <div *ngIf="cprofile" class="detail group" id="profile">
    <h5>{{check.Login.provider}} (으)로 가입했습니다.</h5>
    <h5>이메일 : {{check.Login.email}}</h5>
    <h5>닉네임 : {{check.Login.nickname}}</h5>
    <h5>학교 : {{check.Login.school}}</h5>
    <h5>학번 : {{check.Login.studentid}}</h5>프로젝트 :
    <li *ngFor="let group of groups; let i = index" style="text-align: center; cursor: pointer;">
      {{group.id}}
    </li>
    <button (click)="cprofile = false; clickname=true;" style="position: relative; left: 70%;" class="btn">Back</button>
  </div>
  <div *ngIf="cfile" class="detail file" id="file">
    <li *ngFor="let file of Filelist; let i = index" >
      <a href="http://localhost:3000/download/{{FileAccess[i].substring(2, FileAccess[i].length)}}"  target="_blank" >{{file}}</a>
    </li>
    <button (click)="cfile = false; clickname=true;" style="position: relative; left: 70%;" class="btn">Back</button>
  </div>
  <div *ngIf="cschedule" id="schedule">
    <div class="timetable">
      <ul class="ultime">
        <li class="time" *ngFor="let print of printtime">
          {{print}}
        </li>
      </ul>
    </div>
    <div class="schedule">
      <table>
        <tr>
          <td *ngFor="let day of days">{{day.day}}</td>
        </tr>
        <tr *ngFor="let time3 of time">
          <td *ngFor="let time4 of time2" [ngClass]="{
      'innertime' : testTime(time3, time4) === false,
      'innerselect': testTime(time3, time4) === true
      }" (click)="clicktime(time3, time4)">
            <div class="subjecttext" *ngIf=testSubject(time3,time4)>{{Schedules.subjects[displaySubjectIndex]}}</div>
          </td>
        </tr>
      </table>
    </div>
    <button (click)="cschedule = false; clickname=true;" style="position: relative; left: 70%;" class="btn">Back</button>
  </div>
</body>
