<link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<body>
<h1 style="font-family: 'Roboto', sans-serif; color: black;">My Drive</h1><br>
<div class="repoMain">
  <div class="list">
    <ul>
      <img src="../../../../assets/images/foldertree.png" style="width :5%; height: 5%; float:left; vertical-align : middle; margin-right : 20px; background-color: beige; position: relative; top: -20px;"/>
      <li class="detail" *ngFor="let locs of changingDir; let i = index" (click)="changeDir(i)" style="color: black;">{{locs}} / </li>
    </ul>
  </div><br>
  <div class="main">
      <div class="fileinput">
        <input type="file" #f (change)="fileChangeEvent($event)" style="font-weight: bold;"/>
        <button type="button" (click)="upload()" class="btn">Upload</button>
      </div>
      <div>
        <h4 class="btn" (mouseover)="mousehover = true;" (mouseleave)="mousehover=false;" style="width : 6.5%;float : left; cursor: pointer;">Access ?</h4>
        <div class="access">
          <div *ngIf="mousehover" >
            Drive File들의 접근권한을 설정할 수 있습니다.<br>
            [Public] : 누구나 접근가능 / [Group] : 같은 그룹원만 접근 가능 / [Private] : 자기 자신만 접근가능<br>
            [Public] : <b style="color : red;">빨간색</b> / [Group] : <b style="color : blue;">파란색</b> / [Private] : <b style="color : black;">검은색</b>
          </div>
        </div>
      </div><br>
      <form  #f="ngForm" (ngSubmit)="makeDir(f)" novalidate>
        <br>
        <b style="color: #47c9af;">디렉토리 생성 :</b> <input name="dir" ngModel>
        <button class="btn">생성</button>
    </form>
  </div>
  <div *ngIf="clickAccess" class="changeAccess">
        <p>선택한 파일 : {{clickedAccess[0]}}</p>
        <p>현재 권한 : {{clickedAccess[1]}}</p><br><br>

    <button *ngIf="clickedAccess[1] !== 'Public'" (click)="changeAccess(clickedAccess[0], 'Public')" class="btn">To Public</button>
    <button *ngIf="clickedAccess[1] !== 'Private'" (click)="changeAccess(clickedAccess[0], 'Private')" class="btn">To Private</button>
    <button *ngIf="clickedAccess[1] !== 'Group'" (click)="changeAccess(clickedAccess[0], 'Group')" class="btn">To Group</button>
    <button (click)="clickAccess = false;" class="btn">Close</button>
  </div>
  <div *ngIf="loaded === 1">
    <li (click)="enterDir(list)" *ngFor="let list of PrivateDirlist">
      <img src="../../../../assets/images/folder.png"  style="width : 2%; height: 2%; float:left; vertical-align : middle; margin-left: 1px;"/>
      {{list}}
      <button (click)="deleteFile(list)" style="float : right;" class="btn">Delete</button></li>
    <li *ngFor="let list of PrivateFilelist; let i = index;">
      <img src="../../../../assets/images/filerepo.png"  style="width : 2%; height: 2%; float:left;vertical-align : middle; margin-left: 1px;"/>
      <a href="http://localhost:3000/download/{{loc.substring(2, loc.length)}}/{{list}}" target="_blank" [ngClass]="{
    'public' : accessList[i] === 'Public',
    'private' : accessList[i] === 'Private',
    'Group' : accessList[i] === 'Group'
    }" >{{list}}</a>
      <button (click)="deleteFile(list)" style="float : right;" class="btn">Delete</button>
      <button (click)="setAccess(list, accessList[i])" style="float : right;" class="btn">Access</button></li>
  </div>
    <p *ngIf="loaded === 0"> </p>
    <p *ngIf="loaded === 2"></p>
</div>

</body>
