li {
  text-align: center;
  list-style : none;
  border : 1px solid black;
  cursor : pointer;
}
.fileinput {
  margin-bottom : 30px;
  border: 1px solid black;
}

.class {
  position: absolute;
  left : -10%;
  top: -20%;
}

.detail {
  border : none;
  position: relative;
  float : left;
}
.list {
  position: absolute;
  top : -7%;

}
a:link {
  text-decoration : none;
}
a:visited {
  text-decoration: none;
}
.public {
  color : red;
}
.private {
  color : black;
}
.group {
  color : blue;
}
.changeAccess {
  background-color: white;
  opacity: 0.85;
  position: absolute;
  top: 30%;
  left: 40%;
  width : 400px;
  height : 200px;
  border: 1px solid black;
}
