<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
<link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
<body>
<div class="login">
  <div *ngIf="isLogin === false">
      <h2 style="font-family: 'Spectral sc', serif"> Ajou Team-Project </h2><br>
      <h4>로그인 방법을 선택해주세요</h4>
    <a href="/auth/google"><img src="../assets/images/google.png" class="icon"/></a>
    <a href="/auth/facebook"><img src="../assets/images/facebook.png" class="icon"/></a>
      <div *ngIf="currentAccount">
      </div>
  </div>
</div>
</body>

