h1 {
  padding-left: 5px;
  font-size: medium;

}
.lists {
  border: 1px solid black;
  width: 300px;
  height: 1000px;
  float: left;
  margin: 3px;
  overflow: auto;
}
form {
  float: left;
}

.addPanel {
  border: 1px solid lightseagreen;
  background-color: lightblue;
  margin-bottom: 5px;
  margin-left: 5px;
  width: 250px;
}
textarea{
  margin-left: 5px;
}
li {
  float: none;
  list-style: none;
}
.task {
  border: medium;
  width: 230px;
  height: auto;
  background-color: whitesmoke;
  margin: 3px;
  padding-bottom: 5px;
}

.title{
   font-size: small;
 }
.content{
  font-size: smaller;
  word-break:break-all;
  padding-right: 5px;
  /*text-overflow: clip;*/
  /*overflow: auto;*/
  /*white-space: initial;*/
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: black;
}
