<!--<head>-->
<!--<link rel="stylesheet" href="node_modules/ng-drag-drop/style.css">-->
<!--</head>-->
<body>
<p>To do list</p>
<div class="lists">
  <h1>To do</h1>
  <form class="addPanel" #f="ngForm" (ngSubmit)="addTask(f)">
    title: <input maxlength="10" name="title" ngModel><br><br>
    <textarea rows="5" cols="32" maxlength="200" name="content" ngModel></textarea> <br>
    <button id="btnAdd">add</button>
  </form>
  <form *ngIf="todoList">
    <ul *ngFor = "let todoTask of todoList" class="task" >
      <li>
        <h2 class="title">{{todoTask.title}}</h2>
        <div class="content">{{todoTask.content}}</div>
      </li>
      <li>
      <button (click)="toDoing(todoTask)">Doing</button>
      <button (click)="toDone(todoTask)">Done</button>
      <button (click)="deleteTask(todoTask)">X</button>
      </li>
    </ul>
  </form>
</div>
<div id="doing" class="lists">
  <h1>Doing</h1>
  <form *ngIf="doingList">
    <ul *ngFor = "let doingTask of doingList" class="task">
      <li>
        <h2 class="title">{{doingTask.title}}</h2>
        <p class="content">{{doingTask.content}}</p>
      </li>
      <li>
      <button (click)="toDolist(doingTask)">To do</button>
      <button (click)="toDone(doingTask)">Done</button>
      <button (click)="deleteTask(doingTask)">X</button>
      </li>
    </ul>
  </form>
</div>
<div id="done" class="lists">
  <h1>Done</h1>
  <form *ngIf="doneList">
    <ul *ngFor = "let doneTask of doneList" class="task">
      <li>
        <h2 class="title">{{doneTask.title}}</h2>
        <p class="content">{{doneTask.content}}</p>
      </li>
      <button (click)="deleteTask(doneTask)">X</button>
    </ul>
  </form>
</div>
</body>
