
<body>
<div class="groupmenu">
  <nav>
    <a (click)="routing('/grouprepository/')">그룹 - 파일</a>
    <a (click)="routing('/collaboration/')">그룹 - 공동작업</a>
    <a (click)="routing('/grouptodo/')">그룹 - 할일</a>
    <a (click)="routing('/memberschedule/')">그룹 - 스케쥴</a>
    <div>
      <router-outlet></router-outlet>
    </div>
  </nav>
</div>
<div class="groupdetail">
  <b *ngIf="loaded === false"> loading...</b>
  <h3>Member List</h3>
  <li *ngFor="let mems of members;let i = index" (click)="clickMember(i);clickname=true;">
    <img src="../../../../assets/images/man.png" style="width : 4%; height: 4%; vertical-align: middle;" />
    {{mems.Login.nickname}}
  </li>
</div>
<div class="userdetail" *ngIf="clickname">
  확인할 것 선택<br><br><br>
  <div style="position: relative; left: 30%;">
    <button (click)="checkProfile(mems); cprofile = true; clickname = false;" class="btn">Profile</button>
    <button (click)="checkRepository(mems); cfile = true; clickname = false;" class="btn">File</button>
    <button (click)="checkSchedule(mems); cschedule = true; clickname = false;" class="btn">Schedule</button>
    <button (click)="clickname=false;" class="btn">Back</button>
  </div>
</div>
<div *ngIf="cprofile" class="userdetail group" id="profile">
  <h5>{{targetmember.Login.provider}} (으)로 가입했습니다.</h5>
  <h5>이메일 : {{targetmember.Login.email}}</h5>
  <h5>닉네임 : {{targetmember.Login.nickname}}</h5>
  <h5>학교 : {{targetmember.Login.school}}</h5>
  <h5>학번 : {{targetmember.Login.studentid}}</h5>프로젝트 :
  <li *ngFor="let group of groups; let i = index" style="text-align: center; cursor: pointer;">
    {{group.id}}
  </li>
  <button (click)="cprofile = false; clickname=true;" style="position: relative; left: 70%;" class="btn">Back</button>
</div>
<div *ngIf="cfile" class="userdetail file" id="file">
  <li *ngFor="let file of filelist; let i = index" >
    <a href="http://localhost:3000/download/{{file.substring(2, file.length)}}"  target="_blank" >{{file.split('/')[file.split('/').length - 1]}}</a>
  </li>
  <button (click)="cfile = false; clickname=true;" style="position: relative; left: 70%;" class="btn">Back</button>
</div>
</body>

