
<body>
<div class="groupmenu">
  <nav>
    <a (click)="routing('/grouprepository/')">그룹 - 파일</a>
    <a (click)="routing('/collaboration/')">그룹 - 공동작업</a>
    <a (click)="routing('/grouptodo/')">그룹 - 할일</a>
    <a (click)="routing('/memberschedule/')">그룹 - 스케쥴</a>
    <div>
      <router-outlet></router-outlet>
    </div>
  </nav>
</div>
<div class="groupdetail">
  <b *ngIf="loaded === false"> loading...</b>
  <h3>Member List</h3>
  <li *ngFor="let mems of members" >{{mems.Login.nickname}}</li>
</div>
</body>

