body {
  font-family: 'Noto Sans KR';
  align-content : center;
}
div {
  align-self : center;
  text-align : center;
}

a {
  border: 1px solid black;
}
p {
  padding-bottom:5px;
}

li {
  list-style : none;
  border: 1px solid black;
  cursor : pointer;
}

.groupmenu {
  position : absolute;

}
.group{
  position : absolute;
  top : 15%;
  border: 1px solid black;
}
.select {
  width : 20%;
}

.detail {
  left : 30%;
  width : 70%;
  height : 70%;
}
